/*Body Background*/
body {
    background-color: #D0F0E0;
    margin: 0;
    font-family: serif;
}
/*Navigation Bar & Links*/
.navbar {
    background-color: #7EDAB5;
    padding: 1rem;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
	font-weight: bold;
}
/* Hover Effect */
nav a:hover {
    color: #3E8E7E;              
}
/*Heading Style*/
h2 {
    color: #59342F; 
	text-align: center;
    font-family: serif;
    margin-bottom: 20px;
	
}
/*Product Section*/
div {
    background-color: white;
	width: 60%;
    padding: 25px;
    margin: 30px auto;           
    border-radius: 15px;
    box-shadow: 0.4px 10px rgba(93, 64, 55, 0.2);
}
/*Image*/
img {
	display: block;
	margin: 0 auto;
}